# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output directory
bin/

# Qt local project settings
*.pro.user

# Tests folder
tests/

